# ========== Android Project ==========
.gradle/
build/
**/build/
local.properties
.idea/
*.iml
.cxx/
.externalNativeBuild/
.DS_Store
Thumbs.db
captures/
*.jks
*.keystore
crashlytics.properties
firebase-debug.log
*.log
*.apk
*.aar
.navigation/
*.class

# ========== ASP.NET Core API ==========
**/bin/
**/obj/
*.user
*.suo
*.vs/
*.db
*.db-shm
*.db-wal

# ========== Common ==========
.env
.vscode/
*.tmp
